* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .container {
  max-width: 1440px;
  margin: auto;
}

@font-face {
  font-family: "Futura PT Medium";
  src: url("../fonts/FuturaPT-Medium.eot");
  src: url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.eot");
  src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Bold";
  src: url("../fonts/FuturaPT-Bold.eot");
  src: url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Futura PT Book", sans-serif;
  background-image: url(/img/bg.svg);
}

.phone {
  color: #333;
  text-decoration: none;
}

.paw-button {
  font-family: "Futura PT Medium", sans-serif;
  font-size: 16px;
  width: 130px;
  height: 26px;
  background-color: transparent;
  border: none;
  padding: 0;
}

button {
  font-family: "Futura PT Medium", sans-serif;
  background-color: #333;
  color: #fff;
  padding: 15px 47px;
  border-radius: 3px;
  border: none;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Futura PT Medium", sans-serif;
  font-size: 14px;
  color: #333;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 108px;
}

.logo {
  position: absolute;
  margin-top: 21px;
  margin-left: 65px;
}

.header-up {
  background: #f9f8f8;
}

.header-up-wrap {
  margin-left: 258px;
  margin-right: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  max-width: 1117px;
}

.header-down {
  background: #ffffff;
}

.header-down-wrap {
  margin-left: 358px;
  margin-right: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1117px;
  height: 61px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  width: 692px;
}

.header-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 725px;
}

.header-menu-link {
  font-family: "Futura PT Medium", sans-serif;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.work-time {
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phones {
  width: 396px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location {
  width: 241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.care {
  background: url(/img/care_background.png) no-repeat;
  background-size: cover;
  padding-top: 253px;
  height: 840px;
}

.care .caption {
  font-family: "Futura PT Bold", sans-serif;
  width: 608px;
  height: 128px;
  margin-left: 735px;
  font-size: 70px;
  line-height: 64px;
}

.care .caption_2nd {
  color: #78c0de;
}

.care .text {
  width: 495px;
  height: 105px;
  margin-left: 735px;
  margin-top: 29px;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.care-button {
  margin-left: 735px;
  margin-top: 38px;
}

.quote {
  background: url(/img/quotes.svg) no-repeat;
  background-position: 50% -50%;
}

.quote-text {
  font-family: "Futura PT Book", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.quote-subscription {
  font-family: "Futura PT Bold", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 191px;
}

.quote-line {
  width: 140px;
  border: none;
  margin: 39px auto;
  border-top: 1px solid #dbdbdb;
}
/*# sourceMappingURL=style.css.map */