body {
	@include regular;
	// background: #e5e5e5;
	background-image: url(/img/bg.svg);
}
.phone {
	color: #333;
	text-decoration: none;
}
.paw-button {
	@include medium;
	font-size: 16px;
	width: 130px;
	height: 26px;
	background-color: transparent;
	border: none;
	padding: 0;
}

button {
	@include medium;
	background-color: #333;
	color: #fff;
	padding: 15px 47px;
	border-radius: 3px;
	border: none;
}
