.quote {
	background: url(/img/quotes.svg) no-repeat;
	background-position: 50% -50%;
	&-text {
		@include regular;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		color: #949494;
	}
	&-subscription {
		@include bold;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		color: #333333;

		margin-bottom: 191px;
	}
	&-line {
		width: 140px;
		border: none;
		margin: 39px auto;
		border-top: 1px solid #dbdbdb;
	}
}
